<!DOCTYPE html>
<html>
    <head>
        <title>flaskapp site for w209dv22sec6g1</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://d3js.org/d3.v3.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vega@4"></script>
        <script src="https://cdn.jsdelivr.net/npm/vega-lite@3.0.0-rc12"></script>
        <script src="https://cdn.jsdelivr.net/npm/vega-embed@3"></script>
        <script src="https://vega.github.io/datalib/datalib.min.js"></script>
        <script src="https://vega.github.io/vega-tooltip/vega-tooltip.min.js"></script>
        <style>
        div.bar2 {
            width: 800px;
            height: 400px;
            overflow-x: auto;
            overflow-y: auto;
        }
        .tableauPlaceholder{overflow: hidden !important;}
        #viz1658797789963{overflow: hidden !important;}
        </style>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/w209dv22sec6g1">Recipe Radar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('view_about') }}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('view_flavor_profiles_page') }}">Flavor Profiles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('view_nutrition_page') }}">Nutrition</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('view_ingredients_page') }}">Ingredients</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('view_team_page') }}">Meet the Team</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="jumbotron">
              <h1 class="display-4">
            		{% if title %}
            		  {{ title }}
            		{% else %}
            		  Default title
            		{% endif %}
  	           </h1>
  	           <p>
                 Using "Cuisine" as a regionally defined value from Spoonacular, this page evaluates average flavor profiles across cuisines.
  	           </p>
               <p>
                 "Cuisine" is a specific set of cooking traditions and practices, often associated with a specific culture. It is often named after the region or place where its underlying culture is present. A cuisine is primarily influenced by the ingredients that are available locally or through trade.
               </p>
               <p>
                 We are lucky to experience a little bit of that through the globalization occurring today. However, even with these methods, we are unsure what the authentic facts of all ethnic foods are. We seek to give you a deeper insight into common flavors and tastes mapped to various cuisines.
               </p>
           </div>

                <p>
                  Below you will find a world map that shows the relative flavor/taste profiles by regional cuisine.* Select a taste profile on the right hand side of the map to see how the profile changes across the map.
                </p>

                <p>
                  <b>*Countries are limited by the available cuisines data from the Spoonacular API database.</b>
                </p>
                <div class='tableauPlaceholder' id='viz1658797789963' style='position: relative'>
                   <noscript><a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ta&#47;TableauMap_16587975497880&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript>
                   <object class='tableauViz'  style='display:none;'>
                      <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                      <param name='embed_code_version' value='3' />
                      <param name='path' value='views&#47;TableauMap_16587975497880&#47;Dashboard1?:language=en-US&amp;:embed=true&amp;publish=yes' />
                      <param name='toolbar' value='no' />
                      <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ta&#47;TableauMap_16587975497880&#47;Dashboard1&#47;1.png' />
                      <param name='animate_transition' value='yes' />
                      <param name='display_static_image' value='yes' />
                      <param name='display_spinner' value='yes' />
                      <param name='display_overlay' value='yes' />
                      <param name='display_count' value='yes' />
                      <param name='language' value='en-US' />
                      <param name='filter' value='publish=yes' />
                   </object>
                </div>
                <script type='text/javascript'>
                var divElement = document.getElementById('viz1658797789963');
                var vizElement = divElement.getElementsByTagName('object')[0];
                vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.85)+'px';
                var scriptElement = document.createElement('script');
                scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                vizElement.parentNode.insertBefore(scriptElement, vizElement);
                </script>

                <br>
                <br>
                <hr>
                <p>
                  Below you will find a more detailed bar chart that shows the various flavor/taste profiles directly next to each other. Select one or more cuisines to compare any or all flavor profiles!
                </p>

                <div class='tableauPlaceholder' id='viz1659056836946' style='position: relative'>
                   <noscript><a href='#'><img alt='Comparing Tastes by Cuisine ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ta&#47;TasteBarCharts&#47;FlavorBarCharts&#47;1_rss.png' style='border: none' /></a></noscript>
                   <object class='tableauViz'  style='display:none;'>
                      <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                      <param name='embed_code_version' value='3' />
                      <param name='site_root' value='' />
                      <param name='name' value='TasteBarCharts&#47;FlavorBarCharts' />
                      <param name='tabs' value='no' />
                      <param name='toolbar' value='yes' />
                      <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ta&#47;TasteBarCharts&#47;FlavorBarCharts&#47;1.png' />
                      <param name='animate_transition' value='yes' />
                      <param name='display_static_image' value='yes' />
                      <param name='display_spinner' value='yes' />
                      <param name='display_overlay' value='yes' />
                      <param name='display_count' value='yes' />
                      <param name='language' value='en-US' />
                   </object>
                </div>
                <script type='text/javascript'>                    var divElement = document.getElementById('viz1659056836946');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
                <script type='text/javascript'>
                var divElement = document.getElementById('viz1658793396691');
                var vizElement = divElement.getElementsByTagName('object')[0];
                vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
                var scriptElement = document.createElement('script');
                scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                vizElement.parentNode.insertBefore(scriptElement, vizElement);
              </script>
  	           </h1>
           </div>
        </div>
    </body>
</html>
