<!DOCTYPE html>
<html>
    <head>
        <title>flaskapp site for w209dv22sec6g1</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://d3js.org/d3.v3.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vega@4"></script>
        <script src="https://cdn.jsdelivr.net/npm/vega-lite@3.0.0-rc12"></script>
        <script src="https://cdn.jsdelivr.net/npm/vega-embed@3"></script>
        <script src="https://vega.github.io/datalib/datalib.min.js"></script>
        <script src="https://vega.github.io/vega-tooltip/vega-tooltip.min.js"></script>
        <style>
        div.bar2 {
            width: 800px;
            height: 400px;
            overflow-x: auto;
            overflow-y: auto;
        }
        </style>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/w209dv22sec6g1">Recipe Radar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('view_about') }}">About <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('view_flavor_profiles_page') }}">Flavor Profiles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('view_nutrition_page') }}">Nutrition</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('view_ingredients_page') }}">Ingredients</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('view_team_page') }}">Meet the Team</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="jumbotron">
              <h1 class="display-4">
            		{% if title %}
            		  {{ title }}
            		{% else %}
            		  Default title
            		{% endif %}
  	           </h1>
  	           <p>
                 Given the number of ingredients that humans eat, the total number of ways to combine them is on the order of fifteen exponential significant figures. 
                 Yet the actual number of recipes we eat is very small, so an ongoing challenge for food scientists is to discover laws that govern flavor combinations 
                 and use them to create new recipes yet to be experienced by human taste buds.
               </br>
	           </br>
               For our analysis below we will visualize data on 23 cuisines with 500 recipes each. </p>
           </div>
        </div>

        <div class="container">
          <div class="charts text-left">
            <div class="row">
            <table style="border-collapse: collapse; margin-left: auto; margin-right: auto;"><tbody>
                <tr>
                    <td colspan="3">
                        <p>In the chart below, you will find the top ten ingredients among all cuisines by count. For each of the ingredients, the distribution of recipes of cuisine can be observed by hovering over their respective color. </p>
                        <h2><b>Top 10 Count of Ingredients within Recipes by Cuisine</b></h2>
                        <div id="TopIngredients"></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        </br>
                        <hr>
                        </br>
                        <p>
                            <p>The following charts are a more in depth chart for the visualization above. Insights from these charts create unique insights when compared to the taste chart under the flavor profile tab. </p>
                            <h2><b>Top 3 Count of Ingredients within Recipes by Cuisine</b></h2>
                            <p><b>y-axis is the count of ingredients that are found in Recipes by Cuisine for the top 3 ingredients found above.</b></p>
                            <p><b>x-axis follows the legend key for the above chart.</b></p>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="FirstIngredients"></div>
                    </td>
                    <td>
                        <div id="SecondIngredients"></div>
                    </td>
                    <td>
                        <div id="ThirdIngredients"></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        </br>
                        <hr>
                        </br>
                        <p>It’s no question that some cuisines have more ingredients than others, leading to the idea of complexity. 
                        A good way to determine this is by counting the number of recipes by the number of ingredients within each recipe and by cuisine. 
                        This chart looks to visualize the number of recipes as a count having equivalent ingredient counts by cuisine. 
                        Zoom and hover over the chart to see specific data points.                     
                        </p>
                        <h2><b>Number of Recipes vs Count of Ingredients by Cuisine</b></h2>
                        <p></p>
                        <div id="NumberOfRecipesVSCountOfIngredientByCuisine"></div>
                    </td>
                </tr>
            </tbody></table>
            </div><hr>
            <!-- Placeholder for the tooltip -->
            <div id="vis-tooltip" class="vg-tooltip"></div>
          </div>
        </div>


    <!-- Render Charts -->
    <script type="text/javascript">
      function parse(url, div) {
        var opt = {
          mode: "vega-lite",
          renderer: "svg",
          actions: {export: true, source: false, editor: false}
        };

        vegaEmbed("#"+div, url, opt, function(error, result) {
              // result.view is the Vega View, url is the original Vega-Lite specification
              vegaTooltip.vegaLite(result.view, url);
            });
          }


        parse("/w209dv22sec6g1/data/ingredients/TopIngredients","TopIngredients");
        parse("/w209dv22sec6g1/data/ingredients/FirstIngredients","FirstIngredients");
        parse("/w209dv22sec6g1/data/ingredients/SecondIngredients","SecondIngredients");
        parse("/w209dv22sec6g1/data/ingredients/ThirdIngredients","ThirdIngredients");
        parse("/w209dv22sec6g1/data/ingredients/NumberOfRecipesVSCountOfIngredientByCuisine","NumberOfRecipesVSCountOfIngredientByCuisine");

    </script>

    </body>
</html>
