<!DOCTYPE html>
<html>
    <head>
        <title>flaskapp site for w209dv22sec6g1</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta charset="utf-8">
        <script src="https://d3js.org/d3.v3.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vega@4"></script>
        <script src="https://cdn.jsdelivr.net/npm/vega-lite@3.0.0-rc12"></script>
        <script src="https://cdn.jsdelivr.net/npm/vega-embed@3"></script>
        <script src="https://vega.github.io/datalib/datalib.min.js"></script>
        <script src="https://vega.github.io/vega-tooltip/vega-tooltip.min.js"></script>
        <style>
        div.bar2 {
            width: 800px;
            height: 400px;
            overflow-x: auto;
            overflow-y: auto;
        }
        </style>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/w209dv22sec6g1">Recipe Radar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('view_about') }}">About <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('view_flavor_profiles_page') }}">Flavor Profiles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('view_nutrition_page') }}">Nutrition</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('view_ingredients_page') }}">Ingredients</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('view_team_page') }}">Meet the Team</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="jumbotron">
              <h1 class="display-4">
            		{% if title %}
            		  {{ title }}
            		{% else %}
            		  Default title
            		{% endif %}
  	           </h1>
  	           <p>
                 What is nutrition? Simply, nutrition can be defined as the study of food and how it works in your body; this includes vitamins, fiber, proteins, fats, carbohydrates, sugars and more. In today’s world full of nutrition regimens and advertisements, nutrition is a widely discussed topic. To add another layer of complexity, nutrition is widely different across regions and cultures of the world.
  	           </p>
               <p>
                 So how do we find credible sources? The goal of the visuals designed below is to give you credible information on nutrition that can be accessed whether you are at home or on vacation across the world!
               </p>
           </div>
        </div>

    <div class="container">
      <div class="charts text-left">
        <p>First, we have the heat map below describing nutrition facts - from alcohol content to fat content to Vitamin E content - mapped to U.S. FDA recommendation percentages by cuisine. You can easily locate that Vitamin K in the Southern cuisine to have the highest FDA recommended percentage; insights like this can easily aid dietary and nutritional goals based on region as they are based on a reliable source: U.S. FDA! </p>
        <p>Hover over the intersection of cuisine and nutrients in order to find out more information about it! Please use the radar tab (displaying yellows to blues) in order to scale the meaning of the color(s) of your needs.</p>
        <div id="AllHeat"></div>
        </br>
        <hr>
        <p>The view below is a subset, describing nutrients that are often categorized as ‘bad nutrition’ (and classified as such under the Spoonacular API), of the heatmap above which is an overview of all nutrients. This heat map also focuses on the U.S. FDA recommendation percentages by cuisine for alcohol, caffeine, saturated fat and more. We can see that Chinese, East European and Middle Eastern foods have minimal to zero caffeine content - how interesting!</p>
        <div id="BadHeat"></div>
        </br>
        <hr>

        <p>The following heatmap is complementary to the ‘Bad Nutrition’ heatmap and also a subset of the complete Nutrition facts visuals above. It focuses on the positively connoted nutrients such as all the vitamins, proteins and more to compare the U.S. FDA recommendation percentages by cuisine. </p>
        <div id="GoodHeat"></div>
        </br>
        <hr>

        <p>
          Fitness and nutrition fanatics often only focus on the three main macronutrients: Carbohydrates, Fats, & Proteins. The visual below seeks to give you the opportunity to focus on these three macronutrients by cuisine; this is especially helpful when traveling!
          </br></br>
          Select any or all cuisines to compare macronutrient percentage of daily recommendation. Additionally, you can easily view carbohydrates for all cuisines by using the ‘Highlight Nutrient’ option after selecting all cuisines you would like to compare!
        </p>
        <div class='tableauPlaceholder' id='viz1659337712593' style='position: relative'>
         <noscript><a href='#'><img alt='Macronutrient (Percent of Daily Need) by Cuisine ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Nu&#47;NutritionTableau_16588910553760&#47;NutritionTableau&#47;1_rss.png' style='border: none' /></a></noscript>
           <object class='tableauViz'  style='display:none;'>
              <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
              <param name='embed_code_version' value='3' />
              <param name='site_root' value='' />
              <param name='name' value='NutritionTableau_16588910553760&#47;NutritionTableau' />
              <param name='tabs' value='no' />
              <param name='toolbar' value='yes' />
              <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Nu&#47;NutritionTableau_16588910553760&#47;NutritionTableau&#47;1.png' />
              <param name='animate_transition' value='yes' />
              <param name='display_static_image' value='yes' />
              <param name='display_spinner' value='yes' />
              <param name='display_overlay' value='yes' />
              <param name='display_count' value='yes' />
              <param name='language' value='en-US' />
           </object>
        </div>
          <script type='text/javascript'>                    var divElement = document.getElementById('viz1659337712593');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

        <!-- Placeholder for the tooltip -->
        <div id="vis-tooltip" class="vg-tooltip"></div>
      </div>
    </div>

    <!-- Render Charts -->
    <script type="text/javascript">
      function parse(url, div) {
        var opt = {
          mode: "vega-lite",
          renderer: "svg",
          actions: {export: true, source: false, editor: false}
        };

        vegaEmbed("#"+div, url, opt, function(error, result) {
              // result.view is the Vega View, url is the original Vega-Lite specification
              vegaTooltip.vegaLite(result.view, url);
            });
          }

        parse("/w209dv22sec6g1/data/nutrition/AllHeat","AllHeat");
        parse("/w209dv22sec6g1/data/nutrition/BadHeat","BadHeat");
        parse("/w209dv22sec6g1/data/nutrition/GoodHeat","GoodHeat");
        parse("/w209dv22sec6g1/data/nutrition/pie1","pie1");
        parse("/w209dv22sec6g1/data/nutrition/pie2","pie2");
    </script>
    </body>
</html>
